@model IEnumerable<SeasonalAward>;
@{
    Layout = "_Rating";
    ViewData["Title"] = "Awards";
}
<div>
    @await Html.PartialAsync("MenuHeader")
</div>
<div class="row w-75">
     <a class="modalItem btn btn-danger" asp-controller="Awards" asp-action="Create"> CHOOSE PLAYERS </a>
     <a class="modalItem btn btn-danger" asp-controller="Awards" asp-action="CreateStarting"> CHOOSE STARTING XI </a>
     <a class="modalItem btn btn-danger" asp-controller="Awards" asp-action="CreateCoach"> CHOOSE COACH </a>
</div>
<div class="rowfix">
        @foreach(var s in ViewBag.Seasons)
            {
                <div class="season">
                    <a class="btn btn-danger" asp-action="Index" asp-controller="Awards" asp-route-id="@s.Id"> @s.Data  </a>
                </div>
            }
</div>
@if (@Model != null)
{
<div class="m-5">
    <div class="w-75">
        <table class="table" style="background-color: #0c3d46d9;">
            <thead>
                <tr>
                    <th> Season  Best Players </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    @foreach(var a in Model.Where(a => a.AwardName == SeasonalAwardType.SeasonalPlayers))
                    {
                        <tr>
                            <td style="font-size:18px;"> @a.PlayerTeam.Player.Name </td>
                            <td> <img src="@a.PlayerTeam.Player.Country.Flag" width="25" height="25"> @a.PlayerTeam.Player.Country.Name </td> 
                            <td> @a.PlayerTeam.Team.Name </td>
                        </tr>
                    } 
            </tbody>
        </table>
        <table class="table" style="background-color: #0c3d46d9;">
            <thead>
                <tr>
                    <th> Season Best Coaches </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    @foreach(var a in Model.Where(a => a.AwardName == SeasonalAwardType.SeasonalCoach))
                    {
                        <tr>
                            <td style="font-size:18px;"> @a.CoachTeam.Coach.Name </td>
                            <td> <img src="@a.CoachTeam.Coach.Country.Flag" width="25" height="25"> @a.CoachTeam.Coach.Country.Name </td>              
                            <td> @a.CoachTeam.Team.Name </td>
                        </tr>
                    } 
            </tbody>
        </table>
    </div>
    <div>
        <div>  SYMBOLIC TEAM OF SEASON </div>
        <div class="container mt-5" id="bestplayer">
            <div class="row bprow">
                <div class="col-3">
                    <p class="bestplayer gk">
                       @if (ViewBag.Starting[0]!=null) {@ViewBag.Starting[0].PlayerTeam.Player.Name;}</p>
                </div>
            </div>
            <div class="row bprow">
            </div>
            <div class="row bprow">
                <div class="col-3"> <p class="bestplayer"> @if (ViewBag.Starting[1] != null) {@ViewBag.Starting[1].PlayerTeam.Player.Name;}</p> </div>            
                <div class="col-3"> <p class="bestplayer"> @if (ViewBag.Starting[2] != null) {@ViewBag.Starting[2].PlayerTeam.Player.Name;}</p> </div>
                <div class="col-3"> <p class="bestplayer"> @if (ViewBag.Starting[3] != null) {@ViewBag.Starting[3].PlayerTeam.Player.Name;}</p> </div>
            </div>
            <div class="row bprow">
            </div>
            <div class="row bprow">
                <div class="col-3"> <p class="bestplayer"> @if (ViewBag.Starting[4] != null) {@ViewBag.Starting[4].PlayerTeam.Player.Name;}</p> </div>
                <div class="col-3"> <p class="bestplayer"> @if (ViewBag.Starting[5] != null) {@ViewBag.Starting[5].PlayerTeam.Player.Name;}</p> </div>
                <div class="col-3"> <p class="bestplayer"> @if (ViewBag.Starting[6] != null) {@ViewBag.Starting[6].PlayerTeam.Player.Name;}</p> </div>
            </div>
            <div class="row bprow">
            </div>
            <div class="row bprow">
                <div class="col-3"> <p class="bestplayer"> @if (ViewBag.Starting[7] != null) {@ViewBag.Starting[7].PlayerTeam.Player.Name;}</p> </div>
                <div class="col-3"> <p class="bestplayer"> @if (ViewBag.Starting[8] != null) {@ViewBag.Starting[8].PlayerTeam.Player.Name;}</p> </div>
                <div class="col-3"> <p class="bestplayer"> @if (ViewBag.Starting[9] != null) {@ViewBag.Starting[9].PlayerTeam.Player.Name;}</p> </div>
            </div>
            <div class="row bprow">
            </div>
            <div class="row bprow">
                <div class="col-3"> <p class="bestplayer"> @if (ViewBag.Starting[10] != null) {@ViewBag.Starting[10].PlayerTeam.Player.Name;}</p> </div>
            </div>
            <div class="row bprow">
            </div>
        </div>
    </div>
</div> 
}
<div id="modDialog" class="modal fade" style="top:5%">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/modal.js"></script>