@model List<BestPlayer>
<div class="container mt-5" id="bestplayer">
    <div class="row bprow">
        <div class="col-3">
            <p class="bestplayer gk">
                @Model[0].PlayerTeam.Player.Name
            </p> <p class="bpclub"> @Model[0].PlayerTeam.Team.Name</p>
        </div>
    </div>
    <div class="row bprow">
    </div>
    <div class="row bprow">
        <div class="col-3"> <p class="bestplayer">@Model[1].PlayerTeam.Player.Name</p> <p class="bpclub"> @Model[1].PlayerTeam.Team.Name </p> </div>
        <div class="col-3"> <p class="bestplayer">@Model[2].PlayerTeam.Player.Name</p> <p class="bpclub">@Model[2].PlayerTeam.Team.Name</p> </div>
        <div class="col-3"> <p class="bestplayer">@Model[3].PlayerTeam.Player.Name</p> <p class="bpclub"> @Model[3].PlayerTeam.Team.Name</p> </div>
    </div>
    <div class="row bprow">
    </div>
    <div class="row bprow">
        <div class="col-3"> <p class="bestplayer">@Model[4].PlayerTeam.Player.Name</p> <p class="bpclub"> @Model[4].PlayerTeam.Team.Name</p> </div>
        <div class="col-3"> <p class="bestplayer">@Model[5].PlayerTeam.Player.Name</p> <p class="bpclub"> @Model[5].PlayerTeam.Team.Name</p> </div>
        <div class="col-3"> <p class="bestplayer">@Model[6].PlayerTeam.Player.Name</p> <p class="bpclub"> @Model[6].PlayerTeam.Team.Name</p> </div>
    </div>
    <div class="row bprow">
    </div>
    <div class="row bprow">
        <div class="col-3"> <p class="bestplayer">@Model[7].PlayerTeam.Player.Name</p> <p class="bpclub"> @Model[7].PlayerTeam.Team.Name</p> </div>
    </div>
    <div class="row bprow">
    </div>
    <div class="row bprow">
        <div class="col-3"> <p class="bestplayer">@Model[8].PlayerTeam.Player.Name</p> <p class="bpclub"> @Model[8].PlayerTeam.Team.Name</p> </div>
        <div class="col-3"> <p class="bestplayer">@Model[9].PlayerTeam.Player.Name</p> <p class="bpclub"> @Model[9].PlayerTeam.Team.Name</p> </div>
        <div class="col-3"> <p class="bestplayer">@Model[10].PlayerTeam.Player.Name</p> <p class="bpclub"> @Model[10].PlayerTeam.Team.Name</p> </div>
    </div>
    <div class="row bprow">
    </div>
</div>
