@model GoalScorersViewModel
@{
    Layout = "_TournamentLayout";
}

<div>
    @foreach (var p in Model.PlayerTeams.Where(p => p.Goals.Count > 0 || p.Asists.Count > 0).GroupBy(c => c.Team))
    {
        <div class="container">

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th> @p.Key.Name </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in p)
                    {
                        <tr>
                            <td> <img src="@c.Player.Country.Flag" width="24" height="24" /> </td>
                            <td> @c.Player.Name </td>
                            <td> @c.Goals.Count() </td>
                            <td> @c.Asists.Count() </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
</div>
<div id="modDialog" class="modal fade" style="top:5%">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/modal.js"></script>
