@model IEnumerable<Rating>
@{
    Layout = "_Rating";
    ViewData["Title"] = "Calculate Rating";
}
<div>
    @await Html.PartialAsync("MenuHeader")
</div>
<div class="container">
    <form action="CalculateRating" method="post">
        <input class="btn btn-danger" type="submit" value="Create" />
        <input name="id" value="@Model.First().TournamentId" />
            <table class="table bg-danger">
                <tbody>
                @foreach (var c in Model.OrderByDescending(p => p.Points))
                {
                    <tr>
                        <td> @c.Team.Name </td>
                        <td> @c.Points </td>
                        <td> @c.Round </td>
                        <td> @c.Position </td>
                    </tr>
                }     
            </tbody>
            </table>
    </form>
</div>