@model Tournament
@{
    Layout = null;
}
<div class="container">
    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#shedulle8" aria-expanded="false" aria-controls="shedulle8">
        Shedulle for 1/8 finals
    </button>   
    <div class="collapse" id="shedulle8">
        <div class="card card-body">
            <form asp-action="ShedulleKnockOut8" asp-controller="Shedulles" method="post">
                <input type="hidden" asp-for="@Model.Id" />
                @for (int i = 0; i < 16; i++)
                {
                    <div class="form-group">
                        <select name="clubs[]" asp-items="@ViewBag.Teams">
                        </select>
                    </div>
                }
                <input type="text" inputmode="numeric" name="data" />
                <input type="submit" value="Create" />
            </form>
        </div>
    </div>
    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#shedulle4" aria-expanded="false" aria-controls="shedulle4">
        Shedulle for 1/4 finals
    </button>
    <div class="collapse" id="shedulle4">
        <div class="card card-body">
            <form asp-action="ShedulleQuarter" asp-controller="Shedulles" method="post">
                <input type="hidden" asp-for="@Model.Id" />
                @for (int i = 0; i < 8; i++)
                {
                    <div class="form-group">
                        <select name="clubs[]" asp-items="@ViewBag.Teams">
                        </select>
                    </div>
                }
                <p> Enter a data
                    <input type="text" inputmode="numberic" name="data" />
                </p>
                <p>  Select count of matches :
                    <select name="matchcount">
                        <option value="1"> 1 Match</option>
                        <option value="2"> 2 Match</option>
                    </select>
                </p>
                <input type="submit" value="Create" />
            </form>
        </div>
    </div>
    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#shedulle2" aria-expanded="false" aria-controls="shedulle2">
        Shedulle for 1/2 finals
    </button>
    <div class="collapse" id="shedulle2">
        <div class="card card-body">
            <form asp-action="ShedulleSemi" asp-controller="Shedulles" method="post">
                <input type="hidden" asp-for="@Model.Id" />
                @for (int i = 0; i < 4; i++)
                {
                    <div class="form-group">
                        <select name="clubs[]" asp-items="@ViewBag.Teams">
                        </select>
                    </div>
                }
                <p> Enter a data
                    <input type="text" inputmode="numberic" name="data" />
                </p>
                <p>  Select count of matches :
                    <select name="matchcount">
                        <option value="1"> 1 Match</option>
                        <option value="2"> 2 Match</option>
                    </select>
                </p>
                <input type="submit" value="Create" />
            </form>
        </div>
    </div>
    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#shedulleFinal" aria-expanded="false" aria-controls="shedulleFinal">
        Shedulle for FINAL
    </button>
    <div class="collapse" id="shedulleFinal">
        <div class="card card-body">
            <form asp-action="ShedulleFinal" asp-controller="Shedulles" method="post">
                <input type="hidden" asp-for="@Model.Id" />
                @for (int i = 0; i < 4; i++)
                {
                    <div class="form-group">
                        <select name="clubs[]" asp-items="@ViewBag.Teams">
                        </select>
                    </div>
                }
                <input type="text" inputmode="numeric" name="data" />
                <input type="submit" value="Create" />
            </form>
        </div>
    </div>
</div>