@model Tournament
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body p-0">
        <form asp-action="AddTeams" method="post">
            <h3 class="d-flex justify-content-center" style="background-color:brown;color:antiquewhite;padding:5px;"> Select Teams </h3>
            @Html.HiddenFor(model => model.Id)
            <div class="d-flex justify-content-center">
                @Html.EditorFor(model => model.Name)
            </div>
            <div class="d-flex justify-content-center"><b>Teams</b></div>

            @if (Model.League.Type == "Regional")
            {
                List<Club> teams = ViewBag.Clubs;
                foreach (Club c in teams)
                {
                    <input type="checkbox" name="selectedClubs" value="@c.Id" style="margin-left:20%;"
                           @(Model.Teams.Contains(c) ? "checked=\"checked\"" : "") />
                    @c.Name
                    <br />
                }
            }
            @if (Model.League.Type == "EuroCup")
            {
                List<Club> teams = ViewBag.EuroClubs;
                foreach (Club c in teams)
                {
                    <input type="checkbox" name="selectedClubs" value="@c.Id" style="margin-left:20%;"
                           @(Model.Teams.Contains(c) ? "checked=\"checked\"" : "") />
                    @c.Name
                    <br />
                }
            }
            @if (Model.League.Type == "National")
            {
                List<National> teams = ViewBag.Nationals;
                foreach (National c in teams)
                {
                    <input type="checkbox" name="selectedClubs" value="@c.Id" style="margin-left:20%;"
                           @(Model.Teams.Contains(c) ? "checked=\"checked\"" : "") />
                    @c.Name
                    <br />
                }
            }
            <p class="d-flex justify-content-center">
                <input type="submit" value="ADD SELECTED TEAMS" />
            </p>
        </form>
    </div>
</div>